*{
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: Roboto, Segoe UI, Helvetica, Arial;
}
@font-face { font-family: Google Sans Display; font-weight: bold; src: url('GoogleSansMed.ttf'); } 
@font-face { font-family: Google Sans Display; font-weight: bolder; src: url('GoogleSansBold.ttf'); } 
@font-face { font-family: Google Sans Display; font-weight: normal; src: url('GoogleSansReg.ttf'); } 
body{
	background-color: rgb(0,32,96);
}
.noscroll{
	overflow: hidden;
	height: fit-content;
}
#top{
	width: 100vw;
	height: 50px;
	position: fixed;
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); 
	top:0;
	left: 0;
	z-index: 2;
	padding-top: 20px;
}
#backgroundimage{
	height: 60vh;
	position: fixed;
	width:100vw;
	object-fit: cover;
}

#cardscont{
	height:fit-content;
	min-height: calc(100vh - 90px);
	width: 100%;
	position: absolute;
	top: 60vh;
	left: 0;
	overflow-y: overlay;
	background-color: white;
}
#hometitle{
	position: absolute;
	color: white;
	top: 20vh;
	left: 20px;
	font-family: Google Sans Display;
	font-size: 3em;
	font-weight: bolder;
}
#menuicon{
	padding: 10px;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
}
#menubartitle{
	padding: 10px;
	margin: auto;
	width: fit-content;
	font-family: Lobster;
	color: white;
}
.cardtitle{
	bottom: 0;
	padding: 20px;
	font-size: 1.5em;
	color:inherit;
	font-family: Google Sans Display, Roboto;
	font-weight: normal;
}
.bar{
	background-color: white;
	height: 2px;
	width: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.blackbar{
	background-color: black;
	height: 2px;
	width: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.Xcardtitle{
	position: relative;
	margin-top: 10px;
	padding: 20px;
	padding-bottom: 0;
	width: calc(100% - 40px);
	font-size: 1.5em;
	color:inherit;
	font-family: Google Sans Display, Roboto;
}
.simpletext{
	padding: 20px;
	margin-right: 40px;
	color: inherit;
}
.cardexpandtoucharea{
	height: 100%;
	width: 100%;
}
.minicardscont{
	overflow-x: scroll;
	padding: 20px;
	padding-top: 0;
	display: flex;
	display: -webkit-flex;
}
.minicard{
	min-width: 90px;
	max-width: 90px;
	width: 90px;
	padding: 10px;
	height: 140px;
	background-color: white;
	border-radius: 3px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.listcardtitle{
	position: relative;
	margin-top: 10px;
	padding: 20px;
	padding-bottom: 0;
	width: calc(100% - 40px);
	font-size: 1.5em;
	color:inherit;
	font-family: Google Sans Display, Roboto;
}
.minilistcont{
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	padding: 20px;
	padding-top: 0;
}
.minilistwhite{
	width: calc(100%);
	height: fit-content;
	border-bottom: 1px solid white;
	color:white;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}
.minilistblack{
	width: calc(100%);
	height: fit-content;
	border-bottom: 1px solid black;
	color:black;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}
.listleft{
	flex-grow: 1;
}
.listright{
	flex-grow: 1;
	text-align: right;
}
.cards{
	width: 100%;
	height: fit-content;
	position:relative;
}
#darken{
	position: fixed;
	left: 0;
	top:0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
	opacity: 0;
	display: none;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#permissioncard{
	position: fixed;
	left: 0;
	bottom: -50vh;
	width: 100vw;
	height: fit-content;
	background-color: #FFF;
	z-index: 11;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#permissioncardtext{
	margin: 30px;
	font-size: 1.5em;
	font-family: Google Sans Display;
}
#permissioncardbtncont{
	margin: 30px;
	font-size: 1.5em;
	font-family: Google Sans Display;
	display: flex;
	margin-bottom: 10vh;
}
#denypermission{
	margin:10px;
	padding: 15px;
	background-color: #ddd;
	border-radius: 5px;
}
#allowpermission{
	margin:10px;
	margin-left: 20px;
	padding: 15px;
	background-color: #ddd;
	border-radius: 5px;
}