*{
	margin: 0;
	padding:0;
	font-family: Roboto, Segoe UI, Helvetica, Arial;
}
#titlewrapper{
	position: absolute;
	background-color: blue;
	width: 100vw;
	height: 25vh;
	top: 20vh;
	color:white;
}
.titlecontents{
	margin:30px;
	font-size: 1.3em;
}
#concerttitle{
	font-size: 2em;
}
#desc{
	background-color: #eee;
	width: 96vw;
	left:2vw;
	height: fit-content;
	min-height: 200px;
	position: absolute;
	top: 46vh;
	border-radius: 5px;
}
.desccontent{
	margin:20px;
}
#desctitle{
	font-size: 0.8em;
}
#review{
	background-color: #eee;
	width: 96vw;
	left:2vw;
	height: fit-content;
	min-height: 200px;
	position: absolute;
	top: 73vh;
	border-radius: 5px;
}
#buytix{
	height:25px;
	width: 150px;
	text-align: center;
	border: 1px solid white;
	border-radius:15px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding-top:5px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#buytix:hover{
	background-color: white;
	color: blue;
}